In [1]:
from datasets import load_dataset, IterableDataset,Dataset
import pandas as pd

C:\Users\harsh\anaconda3\envs\nlp_hw1\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
#Reading fire incidence data into a dataframe
df=pd.read_csv('Fire_Incident_Dispatch_Data_Current.csv')

#Reading file containing modified zipcodes
modified_zipcodes=pd.read_excel("Modified and original zipcodes.xlsx")

#Merging Fire incidence data with Modified Ziocodes information
Merged=pd.merge(df,modified_zipcodes, how='left',left_on='ZIPCODE', right_on='ZCTA')

In [3]:
#Reading file containing information about tabulation areas

dataset_zip=pd.read_csv('Modified_Zip_Code_Tabulation_Areas__MODZCTA__20250323.csv')


#Determing the centroids
from shapely.geometry import MultiPolygon, Polygon
from shapely.wkt import loads


def centroidfun(x):
    multipol=loads(x)
    centroid=multipol.centroid
    return centroid

dataset_zip["centroid"]=dataset_zip["the_geom"].apply(centroidfun)

In [4]:
#Extracting latitude and longitude
dataset_zip['Latitude']=dataset_zip['centroid'].apply(lambda point:point.x if point is not None else None)
dataset_zip['Longitude']=dataset_zip['centroid'].apply(lambda point:point.y if point is not None else None)

In [5]:
print(Merged.columns)
print(dataset_zip.columns)
dataset_zip.head()

Index(['STARFIRE_INCIDENT_ID', 'INCIDENT_DATETIME', 'ALARM_BOX_BOROUGH',
       'ALARM_BOX_NUMBER', 'ALARM_BOX_LOCATION', 'INCIDENT_BOROUGH', 'ZIPCODE',
       'POLICEPRECINCT', 'CITYCOUNCILDISTRICT', 'COMMUNITYDISTRICT',
       'COMMUNITYSCHOOLDISTRICT', 'CONGRESSIONALDISTRICT',
       'ALARM_SOURCE_DESCRIPTION_TX', 'ALARM_LEVEL_INDEX_DESCRIPTION',
       'HIGHEST_ALARM_LEVEL', 'INCIDENT_CLASSIFICATION',
       'INCIDENT_CLASSIFICATION_GROUP', 'DISPATCH_RESPONSE_SECONDS_QY',
       'FIRST_ASSIGNMENT_DATETIME', 'FIRST_ACTIVATION_DATETIME',
       'FIRST_ON_SCENE_DATETIME', 'INCIDENT_CLOSE_DATETIME',
       'VALID_DISPATCH_RSPNS_TIME_INDC', 'VALID_INCIDENT_RSPNS_TIME_INDC',
       'INCIDENT_RESPONSE_SECONDS_QY', 'INCIDENT_TRAVEL_TM_SECONDS_QY',
       'ENGINES_ASSIGNED_QUANTITY', 'LADDERS_ASSIGNED_QUANTITY',
       'OTHER_UNITS_ASSIGNED_QUANTITY', 'ZCTA', 'MODZCTA'],
      dtype='object')
Index(['MODZCTA', 'label', 'ZCTA', 'pop_est', 'the_geom', 'centroid',
       'Latitude', 'Longitude'],
      dtype='object')

,MODZCTA,label,ZCTA,pop_est,the_geom,centroid,Latitude,Longitude
0,10001,"10001, 10118","10001, 10119, 10199",23072,MULTIPOLYGON (((-73.98774438827894 40.74406551...,POINT (-73.99713787189704 40.75068819675726),-73.997138,40.750688
1,10002,10002,10002,74993,MULTIPOLYGON (((-73.99750380833868 40.71407144...,POINT (-73.98617431136368 40.71578031863019),-73.986174,40.715780
2,10003,10003,10003,54682,MULTIPOLYGON (((-73.98863576728334 40.72293099...,POINT (-73.9891594531684 40.73182645700668),-73.989159,40.731826
3,10026,10026,10026,39363,MULTIPOLYGON (((-73.96200720826798 40.80550908...,POINT (-73.95267194513652 40.802382116396615),-73.952672,40.802382
4,10004,10004,10004,3028,MULTIPOLYGON (((-74.00826694529984 40.70771979...,POINT (-74.01303190579041 40.70374683920746),-74.013032,40.703747

In [6]:
#Del

Merged.head()

,STARFIRE_INCIDENT_ID,INCIDENT_DATETIME,ALARM_BOX_BOROUGH,ALARM_BOX_NUMBER,ALARM_BOX_LOCATION,INCIDENT_BOROUGH,ZIPCODE,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,...,INCIDENT_CLOSE_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,VALID_INCIDENT_RSPNS_TIME_INDC,INCIDENT_RESPONSE_SECONDS_QY,INCIDENT_TRAVEL_TM_SECONDS_QY,ENGINES_ASSIGNED_QUANTITY,LADDERS_ASSIGNED_QUANTITY,OTHER_UNITS_ASSIGNED_QUANTITY,ZCTA,MODZCTA
0,220318-Q2244-001-0522,03/18/2022 06:38:22 PM,QUEENS,2244,97 AVE & CRESSKILL PL,QUEENS,11435,103,28,412,...,03/18/2022 07:27:30 PM,N,Y,270,259,1.0,0.0,0.0,11435.0,11435.0
1,220318-R1177-002-0111,03/18/2022 06:41:23 PM,RICHMOND / STATEN ISLAND,1177,FOREST AVE & GULF AVE/OVFD,RICHMOND / STATEN ISLAND,10314,121,50,502,...,03/18/2022 07:11:05 PM,N,Y,460,450,1.0,0.0,0.0,10314.0,10314.0
2,220318-B0715-001-0833,03/18/2022 06:41:46 PM,BROOKLYN,715,BROADWAY OPP LEWIS AVE,BROOKLYN,11206,83,34,304,...,03/18/2022 07:09:58 PM,N,Y,448,441,1.0,0.0,0.0,11206.0,11206.0
3,220318-B1580-001-0834,03/18/2022 06:42:37 PM,BROOKLYN,1580,CHURCH AVE & E 38 ST,BROOKLYN,11203,67,41,317,...,03/18/2022 06:55:12 PM,N,Y,218,212,1.0,0.0,0.0,11203.0,11203.0
4,220318-Q5030-001-0525,03/18/2022 06:44:23 PM,QUEENS,5030,JAMAICA AVE & 172 ST,QUEENS,11433,103,27,412,...,03/18/2022 06:57:50 PM,N,Y,611,593,1.0,0.0,0.0,11433.0,11433.0

In [7]:
#Extracting Temporal Features
from datetime import datetime

Merged['INCIDENT_DATETIME']=pd.to_datetime(Merged['INCIDENT_DATETIME'],format="%m/%d/%Y %I:%M:%S %p")
def extractingtemporal(datetime1):
    #dateobj=datetime.strptime(datetime,"%m/%d/%Y %I:%M:%S %p")
    return pd.Series({'Month':datetime1.month,'Date':datetime1.day,'Year':datetime1.year,'Hour':datetime1.hour})


temporal_features=Merged['INCIDENT_DATETIME'].apply(extractingtemporal)

Merged=pd.concat([Merged, temporal_features],axis=1)

In [8]:
Merged.head()

,STARFIRE_INCIDENT_ID,INCIDENT_DATETIME,ALARM_BOX_BOROUGH,ALARM_BOX_NUMBER,ALARM_BOX_LOCATION,INCIDENT_BOROUGH,ZIPCODE,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,...,INCIDENT_TRAVEL_TM_SECONDS_QY,ENGINES_ASSIGNED_QUANTITY,LADDERS_ASSIGNED_QUANTITY,OTHER_UNITS_ASSIGNED_QUANTITY,ZCTA,MODZCTA,Month,Date,Year,Hour
0,220318-Q2244-001-0522,2022-03-18 18:38:22,QUEENS,2244,97 AVE & CRESSKILL PL,QUEENS,11435,103,28,412,...,259,1.0,0.0,0.0,11435.0,11435.0,3,18,2022,18
1,220318-R1177-002-0111,2022-03-18 18:41:23,RICHMOND / STATEN ISLAND,1177,FOREST AVE & GULF AVE/OVFD,RICHMOND / STATEN ISLAND,10314,121,50,502,...,450,1.0,0.0,0.0,10314.0,10314.0,3,18,2022,18
2,220318-B0715-001-0833,2022-03-18 18:41:46,BROOKLYN,715,BROADWAY OPP LEWIS AVE,BROOKLYN,11206,83,34,304,...,441,1.0,0.0,0.0,11206.0,11206.0,3,18,2022,18
3,220318-B1580-001-0834,2022-03-18 18:42:37,BROOKLYN,1580,CHURCH AVE & E 38 ST,BROOKLYN,11203,67,41,317,...,212,1.0,0.0,0.0,11203.0,11203.0,3,18,2022,18
4,220318-Q5030-001-0525,2022-03-18 18:44:23,QUEENS,5030,JAMAICA AVE & 172 ST,QUEENS,11433,103,27,412,...,593,1.0,0.0,0.0,11433.0,11433.0,3,18,2022,18

In [9]:
dataset_zip['centroid']

0       POINT (-73.99713787189704 40.75068819675726)
1       POINT (-73.98617431136368 40.71578031863019)
2        POINT (-73.9891594531684 40.73182645700668)
3      POINT (-73.95267194513652 40.802382116396615)
4       POINT (-74.01303190579041 40.70374683920746)
                           ...
173     POINT (-73.78338459367053 40.65686444670272)
174     POINT (-73.80961947850157 40.70128901923497)
175     POINT (-73.84455125213255 40.57759893303544)
176     POINT (-73.90719766100317 40.55906730906841)
177    POINT (-73.93966853865346 40.709534006494096)
Name: centroid, Length: 178, dtype: object

In [10]:
#Rows containing Nan's in the MODZCTA
merged_nan=Merged[Merged['MODZCTA'].isna()]
print(len(merged_nan))

5808

In [11]:
#Rows not containing Nan's in the MODZCTA
fire_incidence=Merged[Merged['MODZCTA'].notna()]
fire_incidence['MODZCTA']=fire_incidence['MODZCTA'].astype(int)

print(len(fire_incidence))

1221599

C:\Users\harsh\AppData\Local\Temp\ipykernel_33884\1421915464.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fire_incidence['MODZCTA']=fire_incidence['MODZCTA'].astype(int)

In [12]:
#Grouping the dataset by MODZCTA

fire_grouped=fire_incidence.groupby(['MODZCTA','Month','Date','Year','Hour']).size().reset_index(name='Count')

In [13]:
#Adding the latitude and longitude values
Merged_latlong=pd.merge(fire_grouped,dataset_zip, how='left',left_on='MODZCTA', right_on='MODZCTA')

In [14]:
Merged_latlong

,MODZCTA,Month,Date,Year,Hour,Count,label,ZCTA,pop_est,the_geom,centroid,Latitude,Longitude
0,10001,1,1,2023,2,1,"10001, 10118","10001, 10119, 10199",23072,MULTIPOLYGON (((-73.98774438827894 40.74406551...,POINT (-73.99713787189704 40.75068819675726),-73.997138,40.750688
1,10001,1,1,2023,5,1,"10001, 10118","10001, 10119, 10199",23072,MULTIPOLYGON (((-73.98774438827894 40.74406551...,POINT (-73.99713787189704 40.75068819675726),-73.997138,40.750688
2,10001,1,1,2023,18,2,"10001, 10118","10001, 10119, 10199",23072,MULTIPOLYGON (((-73.98774438827894 40.74406551...,POINT (-73.99713787189704 40.75068819675726),-73.997138,40.750688
3,10001,1,1,2023,19,2,"10001, 10118","10001, 10119, 10199",23072,MULTIPOLYGON (((-73.98774438827894 40.74406551...,POINT (-73.99713787189704 40.75068819675726),-73.997138,40.750688
4,10001,1,1,2023,22,3,"10001, 10118","10001, 10119, 10199",23072,MULTIPOLYGON (((-73.98774438827894 40.74406551...,POINT (-73.99713787189704 40.75068819675726),-73.997138,40.750688
...,...,...,...,...,...,...,...,...,...,...,...,...,...
999012,11697,12,28,2023,5,1,11697,11697,3540,MULTIPOLYGON (((-73.86288509369598 40.57605877...,POINT (-73.90719766100317 40.55906730906841),-73.907198,40.559067
999013,11697,12,29,2022,5,1,11697,11697,3540,MULTIPOLYGON (((-73.86288509369598 40.57605877...,POINT (-73.90719766100317 40.55906730906841),-73.907198,40.559067
999014,11697,12,29,2024,12,1,11697,11697,3540,MULTIPOLYGON (((-73.86288509369598 40.57605877...,POINT (-73.90719766100317 40.55906730906841),-73.907198,40.559067
999015,11697,12,31,2022,5,1,11697,11697,3540,MULTIPOLYGON (((-73.86288509369598 40.57605877...,POINT (-73.90719766100317 40.55906730906841),-73.907198,40.559067
999016,11697,12,31,2022,8,1,11697,11697,3540,MULTIPOLYGON (((-73.86288509369598 40.57605877...,POINT (-73.90719766100317 40.55906730906841),-73.907198,40.559067

In [15]:
#Classification of the fires into three different risk levels

highrisk=['Automobile Fire','Brush Fire','Carbon Monoxide - Code 3 - Emergency (over 9 ppm)','Church Fire','Factory Fire','Hospital Fire','Manhole Fire - Extended to Building','Maritime Fire','Medical - Serious Life Threatening',"Multiple Dwelling 'B' Fire",'Other Commercial Building Fire','Other Public Building Fire','Private Dwelling Fire','School Fire','Store Fire','Theater or TV Studio Fire','Transit System - Structural','Under Construction / Vacant Fire','Vehicle Accident - With Extrication']
mediumrisk=['Abandoned Derelict Vehicle Fire','Carbon Monoxide - Code 2 - Incident (1-9 ppm)','Defective Oil Burner','Demolition Debris or Rubbish Fire','Elevator Emergency - Occupied','Manhole Fire - Blown Cover','Manhole Fire - Other','Manhole Fire - Seeping Smoke','Maritime Emergency','Medical - Breathing / Ill or Sick',"Multiple Dwelling 'A' - Compactor fire","Multiple Dwelling 'A' - Food on the stove fire","Multiple Dwelling 'A' - Other fire",'Other Transportation Fire','Sprinkler System - Activated','Transit System - NonStructural','Transit System Emergency','Utility Emergency - Electric','Utility Emergency - Gas','Utility Emergency - Steam','Vehicle Accident - Other']
lowrisk=['Alarm System - Defective','Alarm System - Testing','Alarm System - Unnecessary','Assist Civilian - Non-Medical','Carbon Monoxide - Code 1 - Investigation','Carbon Monoxide - Code 4 - No Detector Activation','Downed Tree','Elevator Emergency - Unoccupied','Medical - Assist Civilian','Medical - EMS Link 10-91','Medical - No PT Contact EMS is Onscene','Medical - PD Link 10-91','Medical - Victim Deceased','Medical MFA - EMS Link','Medical MFA - PD Link','Non-Medical 10-91 (Unnecessary Alarm)','Non-Medical MFA - BARS','Non-Medical MFA - ERS','Non-Medical MFA - Phone','Non-Medical MFA - Private Fire Alarm','Non-Medical MFA - Verbal','Odor - Other Smoke','Odor - Other Than Smoke','Remove Civilian - Non-Fire','Sprinkler System - Malfunction','Sprinkler System - Working on System','Undefined Emergency','Utility Emergency - Undefined','Utility Emergency - Water']

#Generating three dataframes

highrisk_df=Merged[Merged['INCIDENT_CLASSIFICATION'].isin(highrisk)]
mediumrisk_df=Merged[Merged['INCIDENT_CLASSIFICATION'].isin(mediumrisk)]
lowrisk_df=Merged[Merged['INCIDENT_CLASSIFICATION'].isin(lowrisk)]

#Grouping the above three datasets based on Zipcode

highrisk_df_grouped=highrisk_df.groupby(['MODZCTA','Month','Date','Year','Hour']).size().reset_index(name='Count')
mediumrisk_df_grouped=mediumrisk_df.groupby(['MODZCTA','Month','Date','Year','Hour']).size().reset_index(name='Count')
lowrisk_df_grouped=lowrisk_df.groupby(['MODZCTA','Month','Date','Year','Hour']).size().reset_index(name='Count')

In [16]:
#Adding the latitude and longitude values
highrisk_csv=pd.merge(highrisk_df_grouped,dataset_zip, how='left',left_on='MODZCTA', right_on='MODZCTA')
mediumrisk_csv=pd.merge(mediumrisk_df_grouped,dataset_zip, how='left',left_on='MODZCTA', right_on='MODZCTA')
lowrisk_csv=pd.merge(lowrisk_df_grouped,dataset_zip, how='left',left_on='MODZCTA', right_on='MODZCTA')

In [17]:
#Dropping unnecessay columns

highrisk_csv.drop(columns=["the_geom","centroid","pop_est","label","ZCTA"])
mediumrisk_csv.drop(columns=["the_geom","centroid","pop_est","label","ZCTA"])
mediumrisk_csv.drop(columns=["the_geom","centroid","pop_est","label","ZCTA"])
Merged_latlong.drop(columns=["the_geom","centroid","pop_est","label","ZCTA"])

        MODZCTA  Month  Date  Year  Hour  Count   Latitude  Longitude
0         10001      1     1  2023     2      1 -73.997138  40.750688
1         10001      1     1  2023     5      1 -73.997138  40.750688
2         10001      1     1  2023    18      2 -73.997138  40.750688
3         10001      1     1  2023    19      2 -73.997138  40.750688
4         10001      1     1  2023    22      3 -73.997138  40.750688
...         ...    ...   ...   ...   ...    ...        ...        ...
999012    11697     12    28  2023     5      1 -73.907198  40.559067
999013    11697     12    29  2022     5      1 -73.907198  40.559067
999014    11697     12    29  2024    12      1 -73.907198  40.559067
999015    11697     12    31  2022     5      1 -73.907198  40.559067
999016    11697     12    31  2022     8      1 -73.907198  40.559067

[999017 rows x 8 columns]

In [18]:
#Exporting data into csv files

highrisk_csv.to_csv('HighRiskData_Temporal.csv', index=False)
mediumrisk_csv.to_csv('MediumRiskData_Temporal.csv', index=False)
lowrisk_csv.to_csv('LowRiskData_Temporal.csv', index=False)
Merged_latlong.to_csv('FireIncidenceAll_Temporal.csv',index=False)

#

In [19]:
#Dropping some columns

In [20]:
mediumrisk_csv

,MODZCTA,Month,Date,Year,Hour,Count,label,ZCTA,pop_est,the_geom,centroid,Latitude,Longitude
0,10001.0,1,1,2023,22,1,"10001, 10118","10001, 10119, 10199",23072,MULTIPOLYGON (((-73.98774438827894 40.74406551...,POINT (-73.99713787189704 40.75068819675726),-73.997138,40.750688
1,10001.0,1,1,2024,0,1,"10001, 10118","10001, 10119, 10199",23072,MULTIPOLYGON (((-73.98774438827894 40.74406551...,POINT (-73.99713787189704 40.75068819675726),-73.997138,40.750688
2,10001.0,1,1,2024,1,1,"10001, 10118","10001, 10119, 10199",23072,MULTIPOLYGON (((-73.98774438827894 40.74406551...,POINT (-73.99713787189704 40.75068819675726),-73.997138,40.750688
3,10001.0,1,1,2024,3,1,"10001, 10118","10001, 10119, 10199",23072,MULTIPOLYGON (((-73.98774438827894 40.74406551...,POINT (-73.99713787189704 40.75068819675726),-73.997138,40.750688
4,10001.0,1,1,2024,14,1,"10001, 10118","10001, 10119, 10199",23072,MULTIPOLYGON (((-73.98774438827894 40.74406551...,POINT (-73.99713787189704 40.75068819675726),-73.997138,40.750688
...,...,...,...,...,...,...,...,...,...,...,...,...,...
432431,11697.0,12,20,2023,18,1,11697,11697,3540,MULTIPOLYGON (((-73.86288509369598 40.57605877...,POINT (-73.90719766100317 40.55906730906841),-73.907198,40.559067
432432,11697.0,12,27,2024,19,1,11697,11697,3540,MULTIPOLYGON (((-73.86288509369598 40.57605877...,POINT (-73.90719766100317 40.55906730906841),-73.907198,40.559067
432433,11697.0,12,29,2024,12,1,11697,11697,3540,MULTIPOLYGON (((-73.86288509369598 40.57605877...,POINT (-73.90719766100317 40.55906730906841),-73.907198,40.559067
432434,11697.0,12,31,2022,5,1,11697,11697,3540,MULTIPOLYGON (((-73.86288509369598 40.57605877...,POINT (-73.90719766100317 40.55906730906841),-73.907198,40.559067
432435,11697.0,12,31,2022,8,1,11697,11697,3540,MULTIPOLYGON (((-73.86288509369598 40.57605877...,POINT (-73.90719766100317 40.55906730906841),-73.907198,40.559067

In [21]:
lowrisk_csv

,MODZCTA,Month,Date,Year,Hour,Count,label,ZCTA,pop_est,the_geom,centroid,Latitude,Longitude
0,10001.0,1,1,2023,2,1,"10001, 10118","10001, 10119, 10199",23072,MULTIPOLYGON (((-73.98774438827894 40.74406551...,POINT (-73.99713787189704 40.75068819675726),-73.997138,40.750688
1,10001.0,1,1,2023,5,1,"10001, 10118","10001, 10119, 10199",23072,MULTIPOLYGON (((-73.98774438827894 40.74406551...,POINT (-73.99713787189704 40.75068819675726),-73.997138,40.750688
2,10001.0,1,1,2023,18,2,"10001, 10118","10001, 10119, 10199",23072,MULTIPOLYGON (((-73.98774438827894 40.74406551...,POINT (-73.99713787189704 40.75068819675726),-73.997138,40.750688
3,10001.0,1,1,2023,19,2,"10001, 10118","10001, 10119, 10199",23072,MULTIPOLYGON (((-73.98774438827894 40.74406551...,POINT (-73.99713787189704 40.75068819675726),-73.997138,40.750688
4,10001.0,1,1,2023,22,2,"10001, 10118","10001, 10119, 10199",23072,MULTIPOLYGON (((-73.98774438827894 40.74406551...,POINT (-73.99713787189704 40.75068819675726),-73.997138,40.750688
...,...,...,...,...,...,...,...,...,...,...,...,...,...
611862,11697.0,12,25,2022,15,1,11697,11697,3540,MULTIPOLYGON (((-73.86288509369598 40.57605877...,POINT (-73.90719766100317 40.55906730906841),-73.907198,40.559067
611863,11697.0,12,25,2022,16,1,11697,11697,3540,MULTIPOLYGON (((-73.86288509369598 40.57605877...,POINT (-73.90719766100317 40.55906730906841),-73.907198,40.559067
611864,11697.0,12,26,2023,12,1,11697,11697,3540,MULTIPOLYGON (((-73.86288509369598 40.57605877...,POINT (-73.90719766100317 40.55906730906841),-73.907198,40.559067
611865,11697.0,12,28,2023,5,1,11697,11697,3540,MULTIPOLYGON (((-73.86288509369598 40.57605877...,POINT (-73.90719766100317 40.55906730906841),-73.907198,40.559067
611866,11697.0,12,29,2022,5,1,11697,11697,3540,MULTIPOLYGON (((-73.86288509369598 40.57605877...,POINT (-73.90719766100317 40.55906730906841),-73.907198,40.559067